<header>
    <div class="header-text grid">
      <h1 class="big row col col-12">Fræðslumyndbandsleigan</h1>
      <h1 lang="en" class="small row col col-12">Fræðslumynd&shy;bandsleigan</h1>
    </div>
  </header>